<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "org.aj.lagerlogger">

  <name>LagerLogger</name>

  <description>
    Keep track of the brews you've enjoyed!
  </description>

  <author href="http://andrewherrick.com" email="aherrick@indiana.edu">
    Andrew Herrick
  </author>

  <icon src="icon.png" />

  <gap:splash src="splash.png" />

  <access origin="*" />

  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>